body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #7986a5;
  background: #171941;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#mapid {
  height: 380px;
}

section {
  margin: 200px 0;
}
.section-title {
  color: #fff;
  /* font-weight: 700; */
  font-size: 40px;
}
.navbar {
  background: #171941;
  transition: box-shadow 500ms;
}

.navbar.active {
  box-shadow: 0px -6px 24px 0px #000000cc;
}

.nav-title {
  text-transform: uppercase;
}

.nav-logo {
  color: #fff;
  height: 40px;
}
.nav-title:hover {
  /* color: #fff; */
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li:hover {
  /* color: #fff; */
}

.nav-list-link {
  padding: 5px 10px;
  border-bottom: 2px solid #fff;
  transition: border 500ms;
}

.nav-list-link:hover {
  border-bottom-color: #000;
}

.order-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  margin-bottom: 100px;
}

.order {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  border: 2px solid blue;
}
.order:hover,
.order:focus {
  color: #fff;
  text-decoration: none;
  background: blue;
}

/* .order a {
  color: #fff;
} */

.customer-img {
  margin: 50px 0;
  height: 100px;
  transition: opacity 500ms;
}

.customer-img svg {
  width: 100%;
  height: 100%;
}

.customer-tag {
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  color: #ccc;
}

.overview-content {
  line-height: 36px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #fff;
  padding: 50px 0;
  border-top: 2px solid #435db5;
  background: radial-gradient(ellipse at bottom, #292d61 30%, #171941 80%);
}

.contact-form input {
  background: #eee;
  border: none;
  border-bottom: 2px solid #999;
}

.footer-social {
  display: flex;
  margin-left: 50px;
}

.footer-social a {
  font-size: 30px;
  margin-right: 15px;
}

.menu {
  border: none;
  height: 40px;
  width: 45px;
  background: inherit;
}

.menu-line {
  width: 100%;
  height: 2px;
  background: #000;
}

.contact {
  height: 500px;
  padding: 50px 50px;
  margin-top: 190px;
  max-width: 1200px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-title {
  font-size: 55px;
  border-bottom: 1px solid #ccc;
  color: #bbb;
}

.contact-info {
  text-align: center;
  width: 200px;
  font-weight: 400;
}

.hero-image {
  height: 500px;
  max-width: 500px;
  margin: auto;
}

.hero-info {
  color: #fff;
  font-size: 30px;
}
.hero-image svg {
  height: 100%;
  width: 100%;
}

g {
  transition: opacity 700ms;
}
