<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/00f97523d5.js" crossorigin="anonymous"></script>
  <title>Boeing 777X | Contact</title>
</head>

<body>
  <header class="nav-header">
    <div><a href="#" class="nav-title"><img class="nav-logo" src="../assets/img/boeing-logo-black.svg" alt=""></a></div>
    <nav class="nav">
      <ul>
        <li>
          <a class="nav-list-link" data-href="overview" href="../index.html#overview">Overview</a>
        </li>
        <li>
          <a class="nav-list-link" data-href="technical_specs" href="../index.html#technical_specs">Technical Specs</a>
        </li>
        <li>
          <a class="nav-list-link" data-href="customers" href="../index.html#customers">Customers</a>
        </li>
        <li>
        <li>
          <a class="nav-list-link" data-href="home" href="../index.html">Home</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="contact">
    <h1 class="contact-title">Contact Us</h1>
    <div class="contact-container">
      <div class="contact-info">
        <h3>Company Info</h3>
        <p>1-555 555-5555 </p>
        <p>4am - 11pm PT</p>
        <p>7 days a Week</p>
      </div>
      <div class="contact-info">
        <h3>Product Info</h3>
        <p>1-888 888-888 </p>
        <p>5am - 11pm PT</p>
        <p>7 days a Week</p>
      </div>
      <div class="contact-info">
        <h3>Location</h3>
        <p>Fake Location Ave 555, CA</p>
      </div>
    </div>
    <form class="contact-form" action="">
      <div class="">
        <label for="company-name">Company Name</label><br>
        <input id="company-name" type="text" required>
      </div>
      <div class="">
        <label for="company-contact-name">Contact Name</label><br>
        <input id="company-contact-name" type="text" required>
      </div>
      <div class="">
        <label for="company-email">Email</label><br>
        <input id="company-email" type="email" required>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </main>
  <footer class="footer contact-footer"><span id="copyright" class="footer-copyright"></span>
    <ul class="footer-social"><a href="https://www.instagram.com/boeing/?hl=en" target="_blank"><i
          class="fab fa-instagram"></i></a><a href="https://www.facebook.com/Boeing/"><i
          class="fab fa-facebook-square"></i></a></ul>
  </footer>
  <script src="../app/copyright.js"></script>
  <script src="../app/smoothScroll.js"></script>
  <script src="../app/app.js"></script>
</body>

</html>